<%= form_with(model: @game, local: true) do |form| %>
  <% if @game.errors.any? %>
    <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :min_players %>
    <%= form.number_field :min_players %>
  </div>
  <div>
    <%= form.label :max_players %>
    <%= form.number_field :max_players %>
  </div>
  <div>
    <%= form.label :publication_year %>
    <%= form.number_field :publication_year %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
