<!DOCTYPE html>
<html>
  <head>
    <title>Bglib</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Game Library</h1>
      <nav>
        <ul>
          <li><%= link_to "Games", games_path %></li>
          <li><%= link_to "Designers", designers_path %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
